/* media queries for different screen sizes */

/* media queries - max-width: 320px - start */
@media only screen and (max-width: 340px) {
  .container {
    gap: 0;
  }

  .section-2,
  .section-3,
  .section-4 {
    width: 100%;
  }

  .img-container {
    height: 100px;
  }

  .intro-div {
    width: 100%;
    padding: 0 5px;
  }

  .intro-div h1 {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 10px;
  }

  .intro-div p {
    padding: 0 10px;
    font-size: 15px;
    line-height: 1.375rem;
  }

  .about-us-para {
    padding: 0 20px;
    font-size: 14px;
  }

  .about-us-para h1 {
    font-size: 8.5vw;
    line-height: 3vh;
  }

  .about-us-para p {
    line-height: 1.5em;
  }

  .section-2 {
    align-items: center;
    gap: 20px;
  }

  .founder-div {
    gap: 5px;
  }

  .founder-img-div img {
    height: 350px;
  }

  .founder-div button {
    font-size: 15px;
    padding: 10px 20px;
  }

  .section-3 h1 {
    font-size: 40px;
    text-align: center;
  }

  .flow-img-div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #upper-left-para {
    font-size: 8px;
  }

  #upper-right-para {
    font-size: 8px;
    margin-right: 0;
  }

  #lower-left-para {
    font-size: 8px;
  }

  #lower-right-para {
    font-size: 8px;
  }

  .black-board-img-div img {
    height: 550px;
  }

  .black-board-left-para {
    font-size: 10px;
    top: 46%;
  }

  .black-board-right-para {
    margin-left: 0;
    font-size: 10px;
  }

  .lower-path-para {
    margin-left: 0;
  }

  #lower-right-para {
    width: 30vw;
    padding-right: 5px;
  }

  .founder-img-div {
    width: 95vw;
  }

  .key-people-img-div {
    grid-template-columns: repeat(1, 1fr);
  }

  .people-div {
    margin-bottom: 65px;
  }
}

/* media queries - max-width: 340px - end */

/* @media screen and (min-width: 341px) and (max-width: 375px) - start */
@media screen and (min-width: 341px) and (max-width: 375px) {
  .container {
    gap: 0;
  }

  .section-2,
  .section-3,
  .section-4 {
    width: 100%;
  }

  .img-container {
    height: 100px;
    width: 100%;
  }

  .intro-div {
    width: 100%;
    padding: 0 5px;
  }

  .intro-div h1 {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 10px;
  }

  .intro-div p {
    padding: 0 10px;
    font-size: 15px;
    line-height: 1.375rem;
  }

  .about-us-para {
    padding: 0 20px;
    font-size: 14px;
  }

  .about-us-para h1 {
    font-size: 8.5vw;
    line-height: 3vh;
  }

  .about-us-para p {
    line-height: 1.5em;
  }

  .section-2 {
    align-items: center;
    gap: 20px;
  }

  .founder-div {
    gap: 5px;
  }

  .founder-img-div img {
    height: 400px;
  }

  .founder-div button {
    font-size: 15px;
    padding: 10px 20px;
  }

  .section-3 h1 {
    font-size: 40px;
    text-align: center;
  }

  .flow-img-div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #upper-left-para {
    font-size: 8px;
  }

  #upper-right-para {
    font-size: 8px;
    margin-right: 0;
  }

  #lower-left-para {
    font-size: 8px;
  }

  #lower-right-para {
    font-size: 8px;
  }

  .black-board-img-div img {
    height: 550px;
  }

  .black-board-left-para {
    font-size: 10px;
    top: 46%;
  }

  .black-board-right-para {
    margin-left: 0;
    font-size: 10px;
  }

  .lower-path-para {
    margin-left: 0;
  }

  #lower-right-para {
    width: 30vw;
    padding-right: 5px;
  }

  .founder-img-div {
    width: 95vw;
  }

  .section-4 h1 {
    font-size: 40px;
  }

  .key-people-img-div {
    grid-template-columns: repeat(1, 1fr);
  }

  .people-div {
    margin-bottom: 65px;
  }
}

/* @media screen and (min-width: 341px) and (max-width: 375px) - end */

/* @media screen and (min-width: 376px) and (max-width: 425px) - start */
@media screen and (min-width: 375px) and (max-width: 425px) {
  .container {
    gap: 0;
  }

  .section-1,
  .section-2,
  .section-3,
  .section-4 {
    width: 100%;
  }

  .img-container {
    height: 100px;
    width: 100%;
  }

  .intro-div {
    width: 100%;
    padding: 0 5px;
  }

  .intro-div h1 {
    color: #000;
    font-size: 7vw;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 10px;
  }

  .intro-div p {
    padding: 0 10px;
    font-size: 15px;
    line-height: 1.375rem;
  }

  .about-us-para {
    padding: 0 20px;
    font-size: 14px;
  }

  .about-us-para h1 {
    font-size: 30px;
    line-height: 3vh;
  }

  .about-us-para p {
    line-height: 1.5em;
  }

  .section-2 {
    align-items: center;
  }

  .founder-img-div img {
    height: 400px;
    width: 80%;
  }

  .founder-div button {
    font-size: 18px;
    padding: 10px 20px;
  }

  .section-3 h1 {
    font-size: 40px;
    text-align: center;
  }

  .flow-img-div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #upper-left-para {
    font-size: 10px;
  }

  #upper-right-para {
    font-size: 10px;
    margin-right: 0;
  }

  #lower-left-para {
    font-size: 10px;
    padding-left: 13vw;
  }

  #lower-right-para {
    font-size: 10px;
  }

  .black-board-img-div img {
    height: 500px;
  }

  .black-board-left-para {
    font-size: 10px;
  }

  .black-board-right-para {
    margin-left: 0;
    font-size: 10px;
  }

  .lower-path-para {
    margin-left: 0;
  }

  #lower-right-para {
    width: 30vw;
    padding-right: 5px;
  }

  .founder-img-div {
    width: 95vw;
  }

  .section-4 h1 {
    font-size: 40px;
  }

  .key-people-img-div {
    grid-template-columns: repeat(1, 1fr);
  }

  .people-div {
    margin-bottom: 65px;
  }
}

/* @media screen and (min-width: 376px) and (max-width: 425px) - end */

/* @media screen and (min-width: 425px) and (max-width: 500px) - start */
@media screen and (min-width: 425px) and (max-width: 550px) {
  .container {
    gap: 0;
  }

  .section-1,
  .section-2,
  .section-3,
  .section-4 {
    width: 100%;
  }

  .img-container {
    height: 100px;
    width: 100%;
  }

  .intro-div {
    width: 100%;
    padding: 0 5px;
  }

  .intro-div h1 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 10px;
  }

  .intro-div p {
    padding: 0 10px;
    font-size: 15px;
    line-height: 1.775rem;
  }

  .about-us-para {
    padding: 0 20px;
    font-size: 14px;
  }

  .about-us-para h1 {
    font-size: 7vw;
    line-height: 3vh;
  }

  .about-us-para p {
    line-height: 1.5em;
  }

  .section-2 {
    align-items: center;
  }

  .founder-img-div img {
    height: 400px;
    width: 300px;
  }

  .founder-div button {
    font-size: 18px;
    padding: 10px 20px;
  }

  .section-3 h1 {
    font-size: 40px;
    text-align: center;
  }

  .flow-img-div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #upper-left-para {
    font-size: 8px;
  }

  #upper-right-para {
    font-size: 8px;
    margin-right: 0;
  }

  #lower-left-para {
    font-size: 8px;
    padding-left: 19vw;
  }

  #lower-right-para {
    font-size: 8px;
  }

  .black-board-img-div {
    padding: 0 10px;
  }

  .black-board-img-div h2 {
    margin-bottom: 5px;
  }

  .black-board-img-div p {
    line-height: 16px;
  }

  .black-board-img-div img {
    height: 550px;
  }

  .black-board-left-para {
    font-size: 12px;
    left: 26%;
  }

  .black-board-right-para {
    margin-left: 0;
    font-size: 12px;
    left: 73%;
  }

  .lower-path-para {
    margin-left: 0;
  }

  #lower-right-para {
    width: 30vw;
    padding-right: 5px;
  }

  .founder-img-div {
    width: 95vw;
  }

  .key-people-img-div {
    width: 350px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
  }

  .people-div {
    height: 250px;
    margin-bottom: 50px;
  }

  .name-plate-div:nth-child(2) {
    font-size: 12px;
  }

  .name-span {
    font-size: 16px;
  }

}

/* @media screen and (min-width: 425px) and (max-width: 500px) - end */

/* @media screen and (min-width: 551px) and (max-width: 768px) - start */
@media screen and (min-width: 550px) and (max-width: 768px) {
  .container {
    gap: 0;
  }

  .section-1,
  .section-2,
  .section-3,
  .section-4 {
    width: 100%;
  }

  .img-container {
    height: 150px;
    width: 100%;
  }

  .intro-div {
    width: 100%;
    padding: 0 5px;
  }

  .intro-div h1 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 3rem;
  }

  .intro-div p {
    padding: 0 10px;
    font-size: 15px;
  }

  .about-us-para {
    padding: 0 20px;
    font-size: 14px;
  }

  .about-us-para h1 {
    font-size: 30px;
    line-height: 3vh;
  }

  .about-us-para p {
    line-height: 1.5em;
  }

  .section-2 {
    align-items: center;
  }

  .founder-img-div img {
    height: 400px;
    width: 300px;
  }

  .founder-div button {
    font-size: 16px;
    padding: 10px 20px;
  }

  .section-3 h1 {
    font-size: 40px;
    text-align: center;
  }

  .flow-img-div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #upper-left-para {
    font-size: 8px;
  }

  #upper-right-para {
    font-size: 8px;
    margin-right: 0;
  }

  #lower-left-para {
    font-size: 8px;
    padding-left: 19vw;
  }

  #lower-right-para {
    font-size: 8px;
  }

  .black-board-img-div {
    padding: 0 10px;
  }

  .black-board-img-div h2 {
    margin-bottom: 5px;
  }

  .black-board-img-div p {
    line-height: 16px;
  }

  .black-board-img-div img {
    height: 500px;
  }

  .black-board-left-para {
    font-size: 12px;
    left: 26%;
  }

  .black-board-right-para {
    margin-left: 0;
    font-size: 12px;
    left: 73%;
  }

  .lower-path-para {
    margin-left: 0;
  }

  #lower-right-para {
    width: 30vw;
    padding-right: 5px;
  }

  .founder-img-div {
    width: 95vw;
  }

  .key-people-img-div {
    width: 350px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
  }

  .people-div {
    height: 250px;
    margin-bottom: 53px;
  }

  .name-plate-div:nth-child(2) {
    font-size: 12px;
  }

  .name-span {
    font-size: 16px;
  }
}

/* @media screen and (min-width: 551px) and (max-width: 768px) - end */

/* @media screen and (min-width: 769px) and (max-width: 1024px) - start */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    gap: 0;
  }

  .section-2,
  .section-3,
  .section-4 {
    width: 70%;
  }

  .img-container {
    height: 250px;
    width: 100%;
  }

  .intro-div {
    width: 100%;
    padding: 0 5px;
  }

  .intro-div h1 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 3rem;
    margin-top: 10px;
  }

  .intro-div p {
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.375rem;
  }

  .about-us-para {
    padding: 0 20px;
    font-size: 14px;
  }

  .about-us-para h1 {
    font-size: 40px;
    line-height: 7vh;
  }

  .about-us-para p {
    line-height: 1.5em;
  }

  .section-2 {
    align-items: center;
    gap: 10px;
    padding-right: 10px;
  }

  .founder-img-div img {
    height: 350px;
    width: 350px;
  }

  .founder-div button {
    font-size: 14px;
    padding: 10px 20px;
  }

  .section-3 h1 {
    font-size: 40px;
    text-align: center;
  }

  .flow-img-div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .upper-path-para {
    width: 70%;
  }

  #upper-left-para {
    font-size: 12px;
    width: 30%;
  }

  #upper-right-para {
    font-size: 12px;
    width: 40%;
    margin-right: 0;
  }

  #lower-left-para {
    font-size: 12px;
    padding-left: 5vw;
    width: 50%;
  }

  #lower-right-para {
    font-size: 12px;
  }

  .black-board-img-div {
    padding: 0 10px;
  }

  .black-board-img-div h2 {
    margin-bottom: 5px;
  }

  .black-board-img-div p {
    line-height: 16px;
  }

  .black-board-img-div img {
    height: 350px;
  }

  .black-board-left-para {
    font-size: 12px;
    left: 26%;
  }

  .black-board-right-para {
    margin-left: 0;
    font-size: 12px;
  }

  .lower-path-para {
    margin-left: 0;
    width: 70%;
  }

  #lower-right-para {
    width: 40%;
    padding-right: 5px;
  }

  .founder-img-div {
    width: 50%;
  }

  .key-people-img-div {
    width: 300px;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 5px;
  }

  .people-div {
    height: 250px;
    width: 200px;
    margin-bottom: 53px;
  }

  .name-plate-div:nth-child(2) {
    font-size: 12px;
  }

  .name-span {
    font-size: 16px;
  }
}

/* @media screen and (min-width: 769px) and (max-width: 1024px) - end */

/* @media screen and (min-width: 1025px) and (max-width: 1440px) - start */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .container {
    gap: 0;
  }

  .section-1 {
    margin-bottom: 60px;
  }

  .img-container {
    height: 250px;
    width: 100%;
  }

  .intro-div {
    width: 70%;
    padding: 0 5px;
  }

  .intro-div h1 {
    color: #000;
    font-size: 35px;
    font-weight: 700;
    line-height: 4rem;
    margin-top: 10px;
  }

  .intro-div p {
    padding: 0 10px;
    font-size: 18px;
    line-height: 1.375rem;
  }

  .about-us-para {
    width: 70%;
    padding: 0 20px;
    font-size: 16px;
  }

  .about-us-para h1 {
    font-size: 3vw;
    line-height: 3vh;
  }

  .about-us-para p {
    line-height: 1.5em;
  }

  .section-2 {
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 60px;
  }

  .founder-img-div img {
    height: 400px;
    width: 350px;
  }

  .founder-div button {
    font-size: 18px;
    padding: 10px 20px;
  }

  .section-3 {
    margin-bottom: 60px;
  }

  .section-3 h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
  }

  .flow-img-div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  #upper-left-para {
    font-size: 16px;
  }

  #upper-right-para {
    font-size: 16px;
    margin-right: 0;
  }

  #lower-left-para {
    font-size: 16px;
    padding-left: 19vw;
  }

  #lower-right-para {
    font-size: 16px;
  }

  .black-board-img-div {
    padding: 0 10px;
  }

  .black-board-img-div h2 {
    margin-bottom: 10px;
  }

  .black-board-img-div p {
    line-height: 25px;
  }

  .black-board-img-div img {
    height: 650px;
  }

  .black-board-left-para {
    font-size: 16px;
    left: 26%;
  }

  .black-board-right-para {
    margin-left: 0;
    font-size: 16px;
  }

  .lower-path-para {
    margin-left: 0;
  }

  #lower-right-para {
    width: 30%;
    padding-right: 5px;
  }

  .founder-img-div {
    width: 50%;
  }

  .section-4 h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
  }

  .key-people-img-div {
    width: 300px;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 5px;
  }

  .people-div {
    height: 370px;
    margin-bottom: 68px;
  }
}

/* @media screen and (min-width: 1025px) and (max-width: 1440px) - end */

/* @media screen and (min-width: 1441px) - start */
@media screen and (min-width: 1441px) {
  .container {
    gap: 0;
  }

  .section-1 {
    margin-bottom: 60px;
  }

  .img-container {
    height: 400px;
    width: 100%;
  }

  .intro-div {
    width: 70%;
    padding: 0 5px;
  }

  .intro-div h1 {
    color: #000;
    font-size: 2vw;
    font-weight: 700;
    line-height: 4rem;
    margin-top: 10px;
  }

  .intro-div p {
    padding: 0 10px;
    font-size: 18px;
    line-height: 1.375rem;
  }

  .about-us-para {
    width: 70%;
    padding: 0 20px;
    font-size: 18px;
  }

  .about-us-para h1 {
    font-size: 3vw;
    line-height: 3vh;
  }

  .about-us-para p {
    line-height: 1.5em;
  }

  .section-2 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    margin-bottom: 60px;
  }

  .founder-img-div img {
    height: 450px;
    width: 300px;
  }

  .founder-div button {
    font-size: 20px;
    padding: 10px 20px;
  }

  .section-3 {
    margin-bottom: 60px;
  }

  .section-3 h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
  }

  .flow-img-div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  #upper-left-para {
    font-size: 16px;
  }

  #upper-right-para {
    font-size: 16px;
    margin-right: 0;
  }

  #lower-left-para {
    font-size: 16px;
    padding-left: 19vw;
  }

  #lower-right-para {
    font-size: 16px;
  }

  .black-board-img-div {
    padding: 0 10px;
  }

  .black-board-img-div h2 {
    margin-bottom: 10px;
  }

  .black-board-img-div p {
    line-height: 25px;
  }

  .black-board-img-div img {
    height: 400px;
  }

  .black-board-left-para {
    font-size: 16px;
    left: 26%;
  }

  .black-board-right-para {
    margin-left: 0;
    font-size: 16px;
  }

  .lower-path-para {
    margin-left: 0;
  }

  #lower-right-para {
    width: 30%;
    padding-right: 5px;
  }

  .founder-img-div {
    width: 50%;
  }

  .section-4 h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
  }

  .key-people-img-div {
    width: 300px;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 15px;
  }

  .people-div {
    height: 400px;
    margin-bottom: 70px;
  }

}
